:root
{
    --stone: #888888;
    --iron: #c7a68d;
    --gold: #FFCC00;
    --diamond: #00CCFF;
}

* 
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: monospace;
}

#game-window {
  background-color: black;
  position: absolute;
  display: block;
  width: 1080px;
  height: 1080px;
}

body
{
    background-color: #CCCCCC;
}

.stone
{
    background-color: var(--stone);
}

.iron
{
    background-color: var(--iron);
}

.gold
{
    background-color: var(--gold);
}

.diamond
{
    background-color: var(--diamond);
}

.resource {
  background-color: blue;
  display: block;
  width: 100px;
  height: 100px;
}

#anvil-open-button {
  background-color: gray;
  display: block;
  width: 100px;
  height: 100px;
}

#minerals
{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 40px;
}

.mineral
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mineral-amount
{
    font-size: 1.5em;

    margin: 0px 0.5em;
}