:root
{
    --stone: #888888;
    --iron: #c7a68d;
    --gold: #FFCC00;
    --diamond: #00CCFF;

    --bg: #BBBBBB;
}

* 
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: monospace;
}

#game-window {
  background-color: var(--bg);
  position: absolute;
  display: block;

  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

  width: 90%;
  height: 90%;
}

body
{
    background-color: #CCCCCC;
}

.stone-bg
{
    background-color: var(--stone);
}

.iron-bg
{
    background-color: var(--iron);
}

.gold-bg
{
    background-color: var(--gold);
}

.diamond-bg
{
    background-color: var(--diamond);
}

.resource
{
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

#anvil-open-button
{
  display: block;
  width: 100px;
  height: 100px;
}

#minerals
{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 40px;
}

.mineral
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mineral-amount
{
    font-size: 1.5em;

    margin: 0px 0.5em;
}

#anvil-open-button
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#anvil-menu
{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;

    width: 30%;
}

.anvil-craft-button
{
    width: 100%;
    padding: 1em;
}